@import '../../theme.scss';

body {
    background-color: #eee;
}

.list-title {
    text-align: center;
    margin: 0;
    padding: .5em;
    background-color: #fff;
    box-shadow: 2px 4px 4px #ddd;
    font-size: 22px;
}

.timesheet-box {
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 1em;
    box-shadow: 2px 8px 8px #ddd;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .work-journey-tasks-info {
        padding: 0 .5em;
        box-sizing: border-box;
        font-size: 18px;
    }

    .hour-badge {
        background-color: #ddd;
        color: #fff;
        font-weight: 'bold';
        padding: .2em;
        text-align: center;

        &.start {
            background-color: green;
            width: 30%;
        }

        &.end {
            background-color: red;
            width: 30%;
        }

        &.pause {
            background-color: orange;
            width: 40%;
        }
    }

}