.timesheet-box .timesheet-box-header {
    display: flex;
    align-items: center;
    padding: .5em;
    box-sizing: 'border-box';
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}