.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  background-color: #7edff6;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}