.App {
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.main-content {
  background-color: #fff;
  padding: 1em;
  box-shadow: 2px 4px 4px #ddd;
}