.timesheet-box {
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 1em;
    box-shadow: 2px 8px 8px #ddd;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #7edff6;
}